<div th:fragment="LicenseViolationsFrag">

    <div class="chart-container">

        <div id="LicenseViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${LicenseViolations}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];
	     	var dataD = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
                var pointC = entry.pointC;
                var pointD = entry.pointD;


	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
                dataC.push(pointC);
                dataD.push(pointD);


            }); 
            
            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#FA0707', '#F99A07','#08B005',  '#0080FF'], 

                fill: fillViolationsSummary,

                series: [{
                    name: 'Discovered',
                    data: dataA
                },
                {
                    name: 'Open',
                    data: dataB
                },
                {
                    name: 'Fixed',
                    data: dataC
                },
                {
                    name: 'Waived',
                    data: dataD
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'License Violations',
                    align: 'left'
                }
            }

            var chart = new ApexCharts(document.querySelector("#LicenseViolationsChart"), options);
            chart.render();
        </script>


        <div style="page-break-before: always;"/> 	

        <div id="discoveredLicenseViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${discoveredLicenseViolations}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Discovered License Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#discoveredLicenseViolationsChart"), options);
            chart.render();
        </script>

        <div id="openLicenseViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${openLicenseViolations}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Open License Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#openLicenseViolationsChart"), options);
            chart.render();
        </script>

        <div style="page-break-before: always;"/> 	

        <div id="fixedLicenseViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${fixedLicenseViolations}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Fixed License Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#fixedLicenseViolationsChart"), options);
            chart.render();
        </script>

        <div id="waivedLicenseViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${waivedLicenseViolations}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Waived License Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#waivedLicenseViolationsChart"), options);
            chart.render();
        </script>

    </div>
</div>