<div th:fragment="securityViolationsFrag">

    <div class="chart-container">

        <div id="securityViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${securityViolationsChart}]]*/'noValue';
	     	var dataA = [];
	     	var dataB = [];
	     	var dataC = [];
	     	var dataD = [];

	     	var labels = [];
	     	
	     	points.forEach(entry => {
	            var label = entry.label;
	            var pointA = entry.pointA;
	            var pointB = entry.pointB;
	            var pointC = entry.pointC;
	            var pointD = entry.pointD;

	            labels.push(label);
	            dataA.push(pointA);
	            dataB.push(pointB);
	            dataC.push(pointC);
	            dataD.push(pointD);
	            
	            console.log(entry);

            }); 
            
            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#FA0707', '#F99A07','#08B005',  '#0080FF'], 
                fill: fillViolationsSummary,

                series: [{
                    name: 'Discovered',
                    data: dataA
                },
                {
                    name: 'Open',
                    data: dataB
                },
                {
                    name: 'Fixed',
                    data: dataC
                },
                {
                    name: 'Waived',
                    data: dataD
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Security Violations',
                    align: 'left'
                }
            }

            var chart = new ApexCharts(document.querySelector("#securityViolationsChart"), options);

            chart.render();
        </script>

        <div style="page-break-before: always;"/> 	

        <div id="discoveredSecurityViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${discoveredSecurityViolationsChart}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Discovered Security Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#discoveredSecurityViolationsChart"), options);
            chart.render();
        </script>

        <div id="openSecurityViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${openSecurityViolationsChart}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Open Security Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#openSecurityViolationsChart"), options);
            chart.render();
        </script>


        <div style="page-break-before: always;"/> 	

        <div id="fixedSecurityViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${fixedSecurityViolationsChart}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Fixed Security Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#fixedSecurityViolationsChart"), options);
            chart.render();
        </script>

        <div id="waivedSecurityViolationsChart"></div>
        <script th:inline="javascript">
            var points = /*[[${waivedSecurityViolationsChart}]]*/'noValue';
            var dataA = [];
            var dataB = [];
            var dataC = [];

            var labels = [];
            
            points.forEach(entry => {
                labels.push(entry.label);
                dataA.push(entry.pointA);
                dataB.push(entry.pointB);
                dataC.push(entry.pointC);
            }); 

            var options = {
                chart: stackedbarchart,
                dataLabels: barchartlabels,
                grid: grid,
                legend: legend,
                colors: ['#F90707', '#F99A07', '#F9DC07'],
                fill: fillStacked,
                series: [{
                    name: 'Critical',
                    data: dataA
                },
                {
                    name: 'Severe',
                    data: dataB
                },
                {
                    name: 'Moderate',
                    data: dataC
                }],
                xaxis: {
                    categories: labels,
                },
                title: {
                    text: 'Waived Security Violations',
                    align: 'left'
                },
            }

            var chart = new ApexCharts(document.querySelector("#waivedSecurityViolationsChart"), options);
            chart.render();
        </script>

    </div>
</div>