<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
<div th:insert="header :: headerFrag"></div>
</head>
   
   <body>
   	
      <div class="jumbotron">
      <h4>Policy Violations Age</h4>
      </div>
            
      <div class="chart-container" style="margin-left: 100px; width:40vw">
    
    	<div id="securityAgeChart" width="400" height="400"></div>
      	<script th:inline="javascript">
	      	var age90 = /*[[${age90Number}]]*/'noValue';
	    	var age60 = /*[[${age60Number}]]*/'noValue';
	    	var age30 = /*[[${age30Number}]]*/'noValue';
	    	var age7 = /*[[${age7Number}]]*/'noValue';
	    	
	     	var pdata = [age7, age30, age60, age90];
	     	var labels = ['0-7 days old', '8-30 days old', '31-60 days old', '>60 days old'];
		 
			var options = {
				series: pdata,
				labels: labels,
				chart: {
					type: 'donut',
				 },
				 plotOptions: {
					pie: donutPlotOptions
				},
				responsive: [{
					breakpoint: 480,
					options: {
						chart: {
							width: 300
						},
						legend: {
							position: 'bottom'
						}
					}
				}]
			};

			var chart = new ApexCharts(document.querySelector("#securityAgeChart"), options);
			chart.render();
		</script>
      
      </div>
     
      
<br><br><br><br>
<div th:if="${age7}"> 
<h5>Security Policy Violations 0-7 Days</h5>
<div class="container">
<div class="row">
<div class="col-xl mx-auto w-auto bg-white rounded">
<div class="table-responsive table-wrapper-scroll-y custom-scrollbar">
		
	<table class="table table-striped table-bordered table-sm">	
    <thead class="thead-dark">
    <tr>
		<th>Policy Name</th>
		<th>Reason</th>
		<th>Application Name</th>
		<th>Component Name</th>
		<th>Open Time</th>
		<th>Stage</th>
	</tr>
    </thead>
    <tbody>
    <tr th:each="dp : ${age7Data}">
      	<td th:text="${dp.pointA}"></td>
      	<td th:text="${dp.pointF}"></td>
      	<td th:text="${dp.pointB}"></td>
      	<td th:text="${dp.pointD}"></td>
		<td th:text="${dp.pointC}"></td>
		<td th:text="${dp.pointE}"></td>
    </tr>
    </tbody>
    </table>
    
</div>
</div>
</div>
</div>
</div>
<br><br>

<div th:if="${age30}"> 
<h5>Security Policy Violations 8-30 Days</h5>
<div class="container">
<div class="row">
<div class="col-xl mx-auto w-auto bg-white rounded">
<div class="table-responsive table-wrapper-scroll-y custom-scrollbar">
	
	<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
		<th>Policy Name</th>
		<th>Reason</th>
		<th>Application Name</th>
		<th>Component Name</th>
		<th>Open Time</th>
		<th>Stage</th>
	</tr>
    </thead>
    <tbody>
    <tr th:each="dp : ${age30Data}">
		<td th:text="${dp.pointA}"></td>
      	<td th:text="${dp.pointF}"></td>
      	<td th:text="${dp.pointB}"></td>
      	<td th:text="${dp.pointD}"></td>
		<td th:text="${dp.pointC}"></td>
		<td th:text="${dp.pointE}"></td>
    </tr>
    </tbody>
    </table>
    
</div>
</div>
</div>
</div>
</div>
<br><br>

<div th:if="${age60}"> 
<h5>Security Policy Violations 31-60 Days</h5>
<div class="container">
<div class="row">
<div class="col-xl mx-auto w-auto bg-white rounded">
<div class="table-responsive table-wrapper-scroll-y custom-scrollbar">
	
	<table class="table table-striped table-bordered table-sm">
	<thead class="thead-dark">
    <tr>
		<th>Policy Name</th>
		<th>Reason</th>
		<th>Application Name</th>
		<th>Component Name</th>
		<th>Open Time</th>
		<th>Stage</th>
	</tr>
    </thead>
    <tbody>
    <tr th:each="dp : ${age60Data}">
		<td th:text="${dp.pointA}"></td>
      	<td th:text="${dp.pointF}"></td>
      	<td th:text="${dp.pointB}"></td>
      	<td th:text="${dp.pointD}"></td>
		<td th:text="${dp.pointC}"></td>
		<td th:text="${dp.pointE}"></td>
    </tr>
    </tbody>
    </table>
    
</div>
</div>
</div>
</div>
</div>
<br><br>

<div th:if="${age90}"> 
<h5>Security Policy Violations over 60 Days</h5>
<div class="container">
<div class="row">
<div class="col-xl mx-auto w-auto bg-white rounded">
<div class="table-responsive table-wrapper-scroll-y custom-scrollbar">
	
	<table class="table table-striped table-bordered table-sm">
	<thead class="thead-dark">
    <tr>
		<th>Policy Name</th>
		<th>Reason</th>
		<th>Application Name</th>
		<th>Component Name</th>
		<th>Open Time</th>
		<th>Stage</th>
	</tr>
    </thead>
    <tbody>
    <tr th:each="dp : ${age90Data}">
		<td th:text="${dp.pointA}"></td>
      	<td th:text="${dp.pointF}"></td>
      	<td th:text="${dp.pointB}"></td>
      	<td th:text="${dp.pointD}"></td>
		<td th:text="${dp.pointC}"></td>
		<td th:text="${dp.pointE}"></td>
    </tr>
    </tbody>
    </table>
    
</div>
</div>
</div>
</div>
</div>
<br><br>

      
   </body>
</html>