<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:insert="templates/headerPdf :: headerPdfFrag"></div>
<style>
th,tr {
	
    font-size: 14px;
}

td {
	font-size: 12px
}

span {
    font-size: 12px;
    color: blue;
    font-weight: bold;
}
.stat {
	color: blue;
}
p {
    font-size: 10px;
}
</style>

</head>

<body class="pdfreport">

	<div>
	    <h4>Nexus IQ Success Metrics</h4>
	    <p th:text="${#dates.createNow()}"></p>
  	</div>
  	
  	<div>
	    <h4>Summary Report</h4>
  	</div>

    <div th:insert="templates/fragmentSummary :: summaryFrag"></div>
    
    <div th:if="${doAnalysis}">
    
	<div style="page-break-before: always;"/> 	

	<div>
	    <h4>Compare Periods</h4>
  	</div>
	
    <div th:insert="templates/fragmentComparePeriods :: comparePeriodsFrag"></div>
    
    <div style="page-break-before: always;"/> 	
    
    <div>
	    <h4>Analysis</h4>
  	</div>
	
    <div th:insert="templates/fragmentAnalysis :: analysisFrag"></div>
    
    </div>
 
</body>
</html>