<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Firewall report</title>
    <div th:insert="header :: headerFrag"></div>
  </head>

  <body>
    <div class="jumbotron">
      <h4>Firewall Report</h4>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl mx-auto w-auto bg-white rounded">
          <h5>Quarantined Components Summary Report</h5>

          <table class="table table-striped table-bordered table-sm">
            <caption>
              Summary information about Firewall usage
            </caption>
            <thead class="tablecolumncolor">
              <tr>
                <th class="th-sm">Repository Count</th>
                <th class="th-sm">Quarantine Enabled RepositoryCount</th>
                <th class="th-sm">Quarantine Enabled</th>
                <th class="th-sm">Total Component Count</th>
                <th class="th-sm">Quarantined Component Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td th:text="${quarantinedComponentsSummary[0]}"></td>
                <td th:text="${quarantinedComponentsSummary[1]}"></td>
                <td th:text="${quarantinedComponentsSummary[2]}"></td>
                <td th:text="${quarantinedComponentsSummary[3]}"></td>
                <td th:text="${quarantinedComponentsSummary[4]}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-xl mx-auto w-auto bg-white rounded">
          <h5>Autoreleased Quarantined Components Summary Report</h5>

          <table class="table table-striped table-bordered table-sm">
            <caption>
              Summary of autoreleased components
            </caption>
            <thead class="tablecolumncolor">
              <tr>
                <th class="th-sm">AutoRelease Quarantine Count (MTD)</th>
                <th class="th-sm">AutoRelease Quarantine Count (YTD)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td th:text="${autoReleasedFromQuarantinedComponentsSummary[0]}"></td>
                <td th:text="${autoReleasedFromQuarantinedComponentsSummary[1]}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-xl mx-auto w-auto bg-white rounded">
          <h5>Quarantined Threat Level By Format</h5>

          <table class="table table-striped table-bordered table-sm">
            <caption>
              The number of quarantined violations by threat level sorted by format of the package with the violation.
            </caption>
            <thead class="tablecolumncolor">
              <tr>
                <th class="th-sm">Format</th>
                <th class="th-sm">Threat 10</th>
                <th class="th-sm">Threat 9</th>
                <th class="th-sm">Threat 8</th>
                <th class="th-sm">Threat 7</th>
                <th class="th-sm">Threat 6</th>
                <th class="th-sm">Threat 5</th>
                <th class="th-sm">Threat 4</th>
                <th class="th-sm">Threat 3</th>
                <th class="th-sm">Threat 2</th>
                <th class="th-sm">Threat 1</th>
                <th class="th-sm">Threat 0</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dp: ${quarantinedComponentsFormatVulnerabilityCounts}">
                <td th:text="${dp.key}"></td>
                <td th:text="${dp.value[10]}"></td>
                <td th:text="${dp.value[9]}"></td>
                <td th:text="${dp.value[8]}"></td>
                <td th:text="${dp.value[7]}"></td>
                <td th:text="${dp.value[6]}"></td>
                <td th:text="${dp.value[5]}"></td>
                <td th:text="${dp.value[4]}"></td>
                <td th:text="${dp.value[3]}"></td>
                <td th:text="${dp.value[2]}"></td>
                <td th:text="${dp.value[1]}"></td>
                <td th:text="${dp.value[0]}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-xl mx-auto w-auto bg-white rounded">
          <h5>Quarantined Threat Level By Month Raised</h5>

          <table class="table table-striped table-bordered table-sm">
            <caption>
              The number of quarantined violations by threat level sorted by month the packages was put in quarantine.
            </caption>
            <thead class="tablecolumncolor">
              <tr>
                <th class="th-sm">Month</th>
                <th class="th-sm">Threat 10</th>
                <th class="th-sm">Threat 9</th>
                <th class="th-sm">Threat 8</th>
                <th class="th-sm">Threat 7</th>
                <th class="th-sm">Threat 6</th>
                <th class="th-sm">Threat 5</th>
                <th class="th-sm">Threat 4</th>
                <th class="th-sm">Threat 3</th>
                <th class="th-sm">Threat 2</th>
                <th class="th-sm">Threat 1</th>
                <th class="th-sm">Threat 0</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="dp: ${quarantinedComponentMonthlyThreatCounts}">
                <td th:text="${dp.key}"></td>
                <td th:text="${dp.value[10]}"></td>
                <td th:text="${dp.value[9]}"></td>
                <td th:text="${dp.value[8]}"></td>
                <td th:text="${dp.value[7]}"></td>
                <td th:text="${dp.value[6]}"></td>
                <td th:text="${dp.value[5]}"></td>
                <td th:text="${dp.value[4]}"></td>
                <td th:text="${dp.value[3]}"></td>
                <td th:text="${dp.value[2]}"></td>
                <td th:text="${dp.value[1]}"></td>
                <td th:text="${dp.value[0]}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br /><br />

    <div class="container" th:if="${quarantinedComponentsData}">
      <div class="row">
        <div class="col-xl mx-auto w-auto bg-white rounded">
            <h5>Quarantined Components Report</h5>
            <table class="table table-striped table-bordered table-sm">
              <caption>
                The list of quarantined components
              </caption>
              <thead class="tablecolumncolor">
                <tr>
                  <th class="th-sm">Repository</th>
                  <th class="th-sm">Quarantine Date</th>
                  <th class="th-sm">Date Cleared</th>
                  <th class="th-sm">Package Name</th>
                  <th class="th-sm">Format</th>
                  <th class="th-sm">Quarantined</th>
                  <th class="th-sm">Policy Name</th>
                  <th class="th-sm">Threat Level</th>
                  <th class="th-sm">Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="dp : ${quarantinedComponents}">
                  <td th:text="${dp.repository}"></td>
                  <td th:text="${dp.quarantineDate}"></td>
                  <td th:text="${dp.dateCleared} ?: 'N/A'"></td>
                  <td th:text="${dp.displayName}"></td>
                  <td th:text="${dp.format}"></td>
                  <td th:text="${dp.quarantined}"></td>
                  <td th:text="${dp.policyName}"></td>
                  <td th:text="${dp.threatLevel}"></td>
                  <td th:text="${dp.reason}"></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

    <div class="container" th:if="${autoReleasedFromQuarantinedComponentsData}">
      <div class="row">
        <div class="col-xl mx-auto w-auto bg-white rounded">
          <div class="table-responsive table-wrapper-scroll-y custom-scrollbar">
            <h5>Autoreleased from Quarantined Components Report</h5>

            <table class="table table-striped table-bordered table-sm">
              <caption>
                The list of components which have been autoreleased from quarantine
              </caption>
              <thead class="tablecolumncolor">
                <tr>
                  <th class="th-sm">Repository</th>
                  <th class="th-sm">Quarantine Date</th>
                  <th class="th-sm">Date Cleared</th>
                  <th class="th-sm">Package Name</th>
                  <th class="th-sm">Format</th>
                  <th class="th-sm">Quarantined</th>
                  <th class="th-sm">Policy Name</th>
                  <th class="th-sm">Threat Level</th>
                  <th class="th-sm">Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="dp : ${autoReleasedFromQuarantinedComponents}">
                  <td th:text="${dp.repository}"></td>
                  <td th:text="${dp.quarantineDate}"></td>
                  <td th:text="${dp.dateCleared}"></td>
                  <td th:text="${dp.displayName}"></td>
                  <td th:text="${dp.format}"></td>
                  <td th:text="${dp.quarantined}"></td>
                  <td th:text="${dp.policyName}"></td>
                  <td th:text="${dp.threatLevel}"></td>
                  <td th:text="${dp.reason}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
