<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:insert="header :: headerFrag"></div>
</head>

<body>

    <div class="jumbotron">

    	<div class="text-center">

    	<div th:if="${successmetricsreport}">
    	<a th:href="@{summary.html}">Summary Report <em>(anonymised)</em></a>
        <br><br>
        <a th:href="@{applications.html}">Applications Report</a>
        <br><br>
        <a th:href="@{securityviolations.html}">Security Violations Report</a>
        <br><br>
        <a th:href="@{licenseviolations.html}">License Violations Report</a>
        <br><br>
        <!--
		<a th:href="@{analysis}">Insights Analysis Data</a>
        <br><br>
        </div>
        -->

		<div th:if="${firewallreport}">
		<a th:href="@{firewall.html}">Firewall Report</a>
		<br><br>
		</div>

	    <div th:if="${policyViolationsreport}">
	    <a th:href="@{violationsage.html}">Policy Violations Report</a>
	    <br><br>
	    </div>

	    <div th:if="${applicationEvaluationsreport}">
	    <a th:href="@{evaluations.html}">Application Evaluations Report</a>
	    <br><br>
		</div>

		<div th:if="${componentWaiversReport}">
		<a th:href="@{waivers.html}">Component Waivers Report</a>
		<br><br>
		</div>

	    <div th:if="${smdatabase}">
	    <a th:href="@{/h2}">Database</a>
	    </div>

       </div>
    </div>

</body>
</html>
